<div>
    <div style="margin-top: 25px">
       
        <div *ngIf="isInAddressDetailsMode">
            <a (click)="goBack()" class="btn btn-warning">Back</a>
        </div>
        
        <p-growl [sticky]="false" [life]="5000" [(value)]="messages"></p-growl>
        
        <div style="margin-top: 25px; margin-bottom: 50px">

            <form #addressForm="ngForm" (ngSubmit)="onSubmit(address)">
                <div class="form-group">
                    <label>City:</label>
                    <input [disabled]="!isInEditMode" required id="addressCity" name="addressCity" type="text" [(ngModel)]="address.city" class="form-control" placeholder="City..." />
                </div>
                <div class="form-group">
                    <label>Street:</label>
                    <input [disabled]="!isInEditMode" required id="addressStreet" name="addressStreet" type="text" [(ngModel)]="address.street" class="form-control" placeholder="Street..." />
                </div>
                <div *ngIf="isInEditMode">
                    <button type="submit" [disabled]="!addressForm.form.valid" class="btn btn-primary">Save</button>
                </div>
            </form>

        </div>
    </div>
</div>