<div>
    <div>
        <h3>{{pageTitle}}</h3>
    </div>
    <div style="margin-top: 15px; margin-right: 25px">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th class="col-md-1 col-sm-1 col-xs-1">Lp.</th>
                    <th class="col-md-3 col-sm-3 col-xs-3">Type</th>
                    <th class="col-md-2 col-sm-2 col-xs-2">Number of rooms</th>
                    <th class="col-md-3 col-sm-3 col-xs-3">Area</th>
                    <th class="col-md-1 col-sm-1 col-xs-1"></th>
                    <th class="col-md-1 col-sm-1 col-xs-1"></th>
                    <th class="col-md-1 col-sm-1 col-xs-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let property of properties let i = index" [attr.data.-index]="1">
                    <td class="col-md-1 col-sm-1 col-xs-1">{{i + 1}}</td>
                    <td class="col-md-1 col-sm-1 col-xs-1">{{property.type === 0 ? "Flat" : "House"}}</td>
                    <td class="col-md-1 col-sm-1 col-xs-1">{{property.rooms}}</td>
                    <td class="col-md-1 col-sm-1 col-xs-1">{{property.area}} m
                        <sub>2</sub>
                    </td>
                    <td class="col-md-1 col-sm-1 col-xs-1">
                        <button class="btn btn-primary" (click)="getProperty(property.id)">Details</button>
                    </td>
                    <td class="col-md-1 col-sm-1 col-xs-1">
                        <button class="btn btn-success" (click)="updateProperty(property.id)">Update</button>
                    </td>
                    <td class="col-md-1 col-sm-1 col-xs-1">
                        <button class="btn btn-danger" (click)="deleteProperty(property.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="properties.length == 0" style="text-align: center;">
            <p-progressSpinner></p-progressSpinner>
        </div>
    </div>
</div>