<div>
    <div style="margin-top: 20px">
        <a (click)="goBack()" class="btn btn-warning">Back</a> <h3>{{pageTitle}}</h3>
        <a (click)="activateNewAddressMode()" class="btn btn-info">{{addressBtnTitle}}</a>
        <a (click)="activateNewOwnerMode()" class="btn btn-success">{{ownerBtnTitle}}</a>
    </div>

    <div *ngIf="isNewOwnerModeActivated">
        <new-owner [receivedId]="property.ownerId" (ownerAddedEvent)="ownerAddedEvent($event)"></new-owner>
    </div>
    <div *ngIf="isNewAddressModeActivated">
        <new-address [receivedId]="property.addressId" (addressAddedEvent)="addressAddedEvent($event)"></new-address>
    </div>

    <p-growl [sticky]="false" [life]="5000" [(value)]="messages"></p-growl>
    
    <div style="margin-top: 25px; margin-bottom: 50px">
        <form #propertyForm="ngForm" (ngSubmit)="onSubmit(property)">
            <div class="form-group">
                <label for="type">Select type:</label>
                <select [disabled]="!isInEditMode" required [(ngModel)]="property.type" class="form-control" id="type" name="type">
                    <option></option>
                    <option value="1">House</option>
                    <option value="0">Flat</option>
                </select>
                
            </div>
            <div class="form-group">
                <label for="rooms">Number of rooms:</label>
                <input [disabled]="!isInEditMode" required [(ngModel)]="property.rooms" id="rooms" type="number" class="form-control" name="rooms" placeholder="Enter the number of rooms..." />
               
            </div>
            <div class="form-group">
                <label for="area">Area:</label>
                <input [disabled]="!isInEditMode" required [(ngModel)]="property.area" id="area" type="number" class="form-control" name="area" placeholder="Property areas..." />
               
            </div>
            <div class="form-group">
                <label for="washer">Washer:</label>
                <select [disabled]="!isInEditMode" required [(ngModel)]="property.washer" class="form-control" id="washer" name="washer">
                    <option></option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
               
            </div>
            <div class="form-group">
                <label for="refrigerator">Refrigerator:</label>
                <select [disabled]="!isInEditMode" required [(ngModel)]="property.refrigerator" class="form-control" id="refrigerator" name="refrigerator">
                    <option></option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
               
            </div>
            <div class="form-group">
                <label for="iron">Iron:</label>
                <select [disabled]="!isInEditMode" required [(ngModel)]="property.iron" class="form-control" id="iron" name="iron">
                    <option></option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
               
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea [disabled]="!isInEditMode" required [(ngModel)]="property.description" id="description" name="description" class="form-control"></textarea>
                
            </div>
            <div *ngIf="isInEditMode">
                <button type="submit" [disabled]="!propertyForm.form.valid" class="btn btn-primary">Save</button>
            </div>

        </form>

        <input type="text" name="pr" id="pr" [(ngModel)]="pro" />
        <button type="submit" (click)="countArea(property.area)">Policz cenę mieszkania</button>
        <div>
            <h2>{{area}}</h2>
        </div>
    </div>
</div>
